<div class="container">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
      </p>
    </div>
    <div class="col-md-5 text-center">
      <img src="../../../assets/images/database.png" width="70%" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
        layout would work with some actual real-world content in place.</p>
    </div>
    <div class="imagen-web col-md-5 order-md-1 text-center">
      <img src="../../../assets/images/web.jpg" width="80%" alt="" style="width:300px;height: 300px; border-radius: 50%;object-fit: cover; ">

    </div>
  </div>

  
</div>